{% extends 'main/base.html' %}

{% block content %}
<!-- Home Page Content -->
<section class="hero-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Protected by CloudEye Biometrics</h1>
                <p>Your Trusted Cloud Authentication services Provider</p>
                <a href="{%url 'employee-home'%}" class="btn btn-primary">Employee Management</a>
                <a href="{%url 'register_phrase'%}" class="btn btn-primary">Add a Login Phrase</a>
            </div>
            <div class="col-lg-6">
                <!-- Insert an image or graphic here -->
            </div>
        </div>
    </div>
</section>

<!-- Other sections, features, or information about CloudEye -->
<section class="other-section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Cloud Eye</h2>
                <p>Cloud Eye Biometrics Plus is an advanced authentication system
                     utilizing biometric data and artificial intelligence to ensure secure access.
                     This innovative platform delivers enhanced data protection and seamless user experiences,
                      utilizing cutting-edge technology for reliable and efficient authentication services.</p>
                <!-- More content -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
