{% extends 'base/main.html' %}
{% block content %}


{% for shoe in shoes %}
<div class="card" style="width: 18rem; margin: 10px">
  <img class="card-img-top" src="{{ shoe.image_url }}" alt="Shoe Image not found">
  <div class="card-body">
    <h5 class="card-title">{{ shoe.name }}</h5>
    <p class="card-text">{{ shoe.description }}</p>
    <a href="{% url 'update-shoe' shoe.id %}" class="btn btn-primary">Edit shoe</a>
      <a href="{% url 'delete-shoe' shoe.id %}" class="btn btn-primary">Delete Shoe</a>
      <a href="{% url 'checkout' shoe.id %}" class="btn btn-primary">checkout</a>

  </div>
</div>
{% endfor %}

</div>
{% endblock content %}